.todo-list > li {
    list-style-type: none;
}


input[type="checkbox"]:checked + label {
    color: #666;
    text-decoration: line-through;
}


.delete-button {
    font-size: xx-small;
}


.date {
    font-size: smaller;
    color: darkslateblue;
    background: lightgray;
}


/*.owner {*/ /* FUN */
    /*font-family: monospace;*/
    /*font-size: 1.3em;*/
    /*color: green;*/
/*}*/
