<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='onload.js') }}" defer></script>
</head>

<body>

<p>
    {% if current_user.is_authenticated %}
        <strong>{{ current_user.username }}</strong>
        <a href="javascript:void(logout())">Logout</a>
    {% endif %}

    <a href="/login">Login page</a>
</p>

<form id="add_task_form" onsubmit="event.preventDefault();createItem(event.target)">
    <input type="text" placeholder="Feed fish" name="text" required />
    <input type="date" name="date" required />
    <input type="submit" value="Add" />
</form>

<p>
    Sort by:
    <a class="sortbydate"> Due Date </a> /
    <a class="sortbystate"> State </a> &nbsp;
    <a href="/" class="unsort" title="in the name of CHAOS"> Unsort </a>
</p>

<div id="todo-list">
    Loading todo list...
</div>

</body>
</html>
