<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

    <p>
        {% if current_user.is_authenticated %}
            <strong>{{ current_user.username }}</strong>
            <a href="javascript:void(logout())">Logout</a>
        {% endif %}

        <a href="/">Home</a>,

        <a href="/users">list of users</a>
    </p>

    <form>
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password"  placeholder="password" />
        <input type="button" value="Login" onclick="login(event.target.form)" />
        <input type="button" value="Register" onclick="register(event.target.form)" />
    </form>

</body>
</html>
