<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

{% if user_list %}
    <ul>
        {% for user in user_list %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No users</p>
{% endif %}

</body>
</html>